pandas>=2.2.3
requests>=2.31.0
requests-cache>=1.2.0
python-dateutil>=1.16.0
tqdm>=4.66.2
beautifulsoup4>=4.12.3
openpyxl>=3.1.5
feature-engine>=1.8.2
catboost>=1.2.7
venn-abers>=1.4.6
joblib>=1.4.2
optuna>=4.1.0
pyarrow>=18.0.0
scikit-learn>=1.5.2
skfolio>=0.5.1
fullmonte>=0.0.4
ipython>=8.29.0
scipy>=1.14.1
openskill>=6.0.1
python-dateutil>=1.16.0
torch>=2.5.1
pandarallel>=1.6.5
pyfolio-reloaded>=0.9.8
matplotlib>=3.9.2
empyrical>=0.5.5
optuna-integration[catboost]>=4.1.0
pytz>=2024.1
python-dotenv>=1.0.1
geocoder>=1.38.1
retry-requests>=2.0.0
openmeteo-requests>=1.3.0
nba_api>=1.7.0
timezonefinder>=6.5.7
pydantic>=2.10.4
flatten_json>=0.1.14
-e git+https://github.com/8W9aG/pygooglenews@549a70c9cf6e3d6d658be6095c39e90049b3ee2b#egg=pygooglenews
extruct>=0.18.0
